*{
    box-sizing: border-box;
}
body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 13px;
    margin: 0;
}
.container{
    display: flex;
    padding: 10px;
}
input,select,button{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 14px;   
}
h3{
    color: black;
    text-align: center;
    margin: 0;
    
}
:focus{
    outline: none;
}
.wrapper{
    display: flex;
    align-items:center ;
    justify-content: center;
}
.inner{
    padding: 20px;
    background-color: white;
    max-width: 850px;
    margin: auto;
    display: flex;

}
.inner .p-holder{
    width: 50%;
    height: 20%;
    

}
.inner form{
    width: 50%;
    padding-left: 45px;
    padding-right: 45px;
}


.form-group input:first-child{
    margin-right: 25px;
}
.form-wrapper{
    position: relative;
}
.form-control{
    border: none;
    border-bottom: 1px solid gray;
    display: block;
    padding-right: 0;
    margin-bottom: 25px;
}
.b1{
    border: none;
    width: 150px;
    height: 50px;
margin: 20px
margin-top: 40px;
cursor: pointer;
display:flex;
align-items: center;
justify-content: center;
padding-left: 0;
background: rgb(124, 210, 236);
font-size: 15px;
color: white;
}
.html{
    border: none;
    text-decoration: none;
    box-shadow: 1px;

    color: gray;
    
}
.html>a{
    text-decoration: none;
    color: gray;
    border: none;

}
.bb1{
    border: none;
    border-radius: 10px;
   
    

}
.bbb1{
    border: none;
    text-decoration: none;
    box-shadow: 1px;
    color: gray;
}
.css{border: none;
    text-decoration: none;
    box-shadow: 1px;
}
.css>a{
    color: gray;
    text-decoration: none;
    color: gray;
    border: none;
}
.learn{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: large;
}
@media{
    
}
