*{margin: 0;
padding: 0;
box-sizing: border-box;
}
nav{
  
  top: 0;
  z-index: 1;
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
nav.logo{
  margin-left: 20px;
}
nav .logo span{
  font-size:20px ;
  padding-right: 15px;
}
nav .items{
  display: flex;
  gap: 50px;
  margin-right: 20px;
}
nav .items a{
  text-decoration: none;
  color: black;
}
.hero{
  width: 100vw;
  height: 500px;
  background-image:url('./img/IMG_20230315_225615_283.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.containt{
  display: flex;
  gap: 15px;
}
.containt .first{
  width: 115px;
  height: 95px;
  background-color: #4d556052;
  color: white;
  font-size: 78px;
  

}
.containt .sec{
  color: white;
  font-size: 78px;
}